# This is a sample ni-measurementlink-service configuration file.
#
# To use it:
# - Copy this file to your service's directory or one of its parent directories
#   (such as the root of your Git repository or `C:\ProgramData\National
#   Instruments\MeasurementLink\Services`).
# - Rename it to `.env`.
# - Uncomment and edit the settings you want to change.
# - Restart any affected services.

#----------------------------------------------------------------------
# Server Configuration
#----------------------------------------------------------------------

# TBD

#----------------------------------------------------------------------
# Feature Toggles
#----------------------------------------------------------------------

# Enable all features with a code readiness of "incomplete" or "next-release"
# MEASUREMENTLINK_ALLOW_INCOMPLETE=1

# Enable all features with a code readiness of "next-release"
# MEASUREMENTLINK_ALLOW_NEXT_RELEASE=1

# Simplified session management APIs for the 2024Q1 release
# MEASUREMENTLINK_ENABLE_SESSION_MANAGEMENT_2024Q1=1
