[tool.poetry]
name = "nidmm_measurement"
version = "0.5.0"
description = "MeasurementLink example that performs a measurement using an NI DMM."
authors = ["National Instruments"]

[tool.poetry.dependencies]
python = "^3.8"
nidmm = ">=1.4.3"
ni-measurementlink-service = {version = "^1.1.0-dev2", allow-prereleases = true}
click = ">=7.1.2"
grpcio = "*"

[tool.poetry.group.dev.dependencies]
mypy = ">=1.0"
grpc-stubs = "^1.53"
# Uncomment to use prerelease dependencies.
# nidmm = { git = "https://github.com/ni/nimi-python.git", subdirectory = "generated/nidmm"}
# ni-measurementlink-service = {path = "../..", develop = true}

[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"

[[tool.mypy.overrides]]
module = [
    "nidmm.*",
]
ignore_missing_imports = true
