name: Check examples

on:
  workflow_call:
  workflow_dispatch:

jobs:
  check_examples:
    name: Check examples
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: ni/python-actions/setup-python@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
        id: setup-python
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      # Updating poetry.lock for all of the examples takes over 6 minutes, so it's worth caching.
      - name: Cache poetry.lock
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: cache-poetry-lock
        with:
          path: 'examples/**/poetry.lock'
          # Include the main project's poetry.lock in the hash to detect upstream dependency updates.
          key: examples-poetry-lock-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('examples/**/pyproject.toml', 'packages/service/poetry.lock') }}
      - name: Lock examples
        if: steps.cache-poetry-lock.outputs.cache-hit != 'true'
        run: |
          for example in examples/*/; do
            echo "::group::$example"
            pushd $example
            poetry lock
            popd
            echo "::endgroup::"
          done
      - name: Cache virtualenvs
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: cache-venv
        with:
          path: 'examples/**/.venv'
          key: examples-venv-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('examples/**/poetry.lock') }}
      - name: Install examples
        run: |
          for example in examples/*/; do
            echo "::group::$example"
            pushd $example
            poetry install -v
            popd
            echo "::endgroup::"
          done
      - name: Lint examples
        run: |
          for example in examples/*/; do
            echo "::group::$example"
            pushd $example
            poetry run ni-python-styleguide lint
            popd
            echo "::endgroup::"
          done
      - name: Mypy static analysis (examples, Linux)
        run: |
          for example in examples/*/; do
            echo "::group::$example"
            pushd $example
            poetry run mypy .
            popd
            echo "::endgroup::"
          done
      - name: Mypy static analysis (examples, Windows)
        run: |
          for example in examples/*/; do
            echo "::group::$example"
            pushd $example
            poetry run mypy . --platform win32
            popd
            echo "::endgroup::"
          done
