name: Check NIMS

on:
  workflow_call:
  workflow_dispatch:

jobs:
  check_nims:
    name: Check NIMS
    runs-on: ubuntu-latest
    defaults:
      run:
        # Set the working-directory for all steps in this job.
        working-directory: ./packages/service
    steps:
      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: true
      - name: Set up Python
        uses: ni/python-actions/setup-python@5286c12d65d90b2ea738bd57d452dc4366497581 # v0.4.1
        id: setup-python
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@5286c12d65d90b2ea738bd57d452dc4366497581 # v0.4.1
      - name: Check for lock changes (ni-measurement-plugin-sdk-service)
        run: poetry check --lock

      # ni-measurement-plugin-sdk-service, all extras
      - name: Restore cached virtualenv (ni-measurement-plugin-sdk-service, all extras)
        uses: actions/cache/restore@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        id: restore-nims-all-extras
        with:
          path: packages/service/.venv
          key: ni-measurement-plugin-sdk-service-all-extras-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('packages/service/poetry.lock') }}
      - name: Install ni-measurement-plugin-sdk-service (all extras)
        run: poetry install -v --all-extras
      - name: Save cached virtualenv (ni-measurement-plugin-sdk-service, all extras)
        uses: actions/cache/save@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        if: steps.restore-nims-all-extras.outputs.cache-hit != 'true'
        with:
          path: packages/service/.venv
          key: ${{ steps.restore-nims-all-extras.outputs.cache-primary-key }}
      - name: Lint ni-measurement-plugin-sdk-service
        run: poetry run ni-python-styleguide lint
      - name: Mypy static analysis (ni-measurement-plugin-sdk-service, Linux)
        run:  poetry run mypy
      - name: Mypy static analysis (ni-measurement-plugin-sdk-service, Windows)
        run:  poetry run mypy --platform win32
      - name: Bandit security checks (ni-measurement-plugin-sdk-service)
        run:  poetry run bandit -c pyproject.toml -r ni_measurement_plugin_sdk_service

      # ni-measurement-plugin-sdk-service, all extras, docs
      - name: Restore cached virtualenv (ni-measurement-plugin-sdk-service, all extras, docs)
        uses: actions/cache/restore@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        id: restore-nims-all-extras-docs
        with:
          path: packages/service/.venv
          key: ni-measurement-plugin-sdk-service-all-extras-docs-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('packages/service/poetry.lock') }}
      - name: Install ni-measurement-plugin-sdk-service (all extras, docs)
        run: poetry install -v --all-extras --with docs
      - name: Save cached virtualenv (ni-measurement-plugin-sdk-service, all extras, docs)
        uses: actions/cache/save@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        if: steps.restore-nims-all-extras-docs.outputs.cache-hit != 'true'
        with:
          path: packages/service/.venv
          key: ${{ steps.restore-nims-all-extras-docs.outputs.cache-primary-key }}
      - name: Build docs and check for errors/warnings
        run: |
          rm -rf docs
          mkdir -p docs   
          poetry run sphinx-build _docs_source docs -b html -W
      - name: Revert docs
        run:  rm -rf docs
      - name: Generate gRPC stubs
        run: |
          find tests/utilities/stubs/ -name \*_pb2.py\* -o -name \*_pb2_grpc.py\* -delete
          poetry run python scripts/generate_grpc_stubs.py
      - name: Check for out-of-date gRPC stubs
        run:  git diff --exit-code
      - name: Revert gRPC stubs
        run: |
          git clean -dfx tests/utilities/stubs/
          git restore tests/utilities/stubs/
