name: Check NIMS

on:
  workflow_call:
  workflow_dispatch:

jobs:
  check_nims:
    name: Check NIMS
    env:
      oldest-python-version: '3.10'
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        python-version: ['3.10', 3.14]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        # Set the working-directory for all steps in this job.
        working-directory: ./packages/service
    steps:
      - name: Check out repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true
      - name: Set up Python
        uses: ni/python-actions/setup-python@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
      - name: Analyze generator
        uses: ni/python-actions/analyze-project@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
        with:
          project-directory: packages/service
          install-args: --all-extras
      - name: Bandit security checks (ni-measurement-plugin-sdk-service)
        run:  poetry run bandit -c pyproject.toml -r ni_measurement_plugin_sdk_service
      - name: Generate gRPC stubs
        if: matrix.python-version == env.oldest-python-version
        run: |
          find tests/utilities/stubs/ -name \*_pb2.py\* -o -name \*_pb2_grpc.py\* -delete
          poetry run python scripts/generate_grpc_stubs.py
      - name: Check for out-of-date gRPC stubs
        if: matrix.python-version == env.oldest-python-version
        run:  git diff --exit-code
      - name: Revert gRPC stubs
        if: matrix.python-version == env.oldest-python-version
        run: |
          git clean -dfx tests/utilities/stubs/
          git restore tests/utilities/stubs/
