name: CI

on:
  push:
    branches:
      - main
      - 'releases/**'
  workflow_call:
  workflow_dispatch:

jobs:
  check_nims:
    name: Check NIMS
    uses: ./.github/workflows/check_nims.yml
  check_nimg:
    name: Check NIMG
    uses: ./.github/workflows/check_nimg.yml
  check_examples:
    name: Check examples
    uses: ./.github/workflows/check_examples.yml
  run_unit_tests:
    name: Run unit tests
    uses: ./.github/workflows/run_unit_tests.yml
    needs: [check_nims]
  run_system_tests:
    name: Run system tests
    uses: ./.github/workflows/run_system_tests.yml
    needs: [run_unit_tests]
  report_test_results:
    name: Report test results
    uses: ./.github/workflows/report_test_results.yml
    needs: [run_unit_tests, run_system_tests]
    if: always()