name:  Publish NIMS

on:
  release:
    types: [published]
  workflow_dispatch:

concurrency: publish_to_pypi

jobs:
  check_nims:
    name: Check NIMS
    uses: ./.github/workflows/check_nims.yml
  # Don't run check_nimg.yml because the generator now depends
  # on the service and may reference a package version that doesn't exist yet.
  # Don't run check_examples.yml because the examples may reference a
  # package version that doesn't exist yet.
  build:
    name: Build
    runs-on : ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repo
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Set up Python
        uses: ni/python-actions/setup-python@f0276f7f58868ec0d0d1a86377287c9e6fe0c6e7 # v0.5.0
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@f0276f7f58868ec0d0d1a86377287c9e6fe0c6e7 # v0.5.0

      - name: Check for lock changes
        run: poetry check --lock
        working-directory: ./packages/service

      # If the tag is 0.1.0, this will set the version of NIMS package to 0.1.0
      - name: Store version from Tag
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - name: Update NIMS package version based on tag name.
        run: |
          poetry version ${{ steps.vars.outputs.tag }}
        working-directory: ./packages/service

      - name: Update NIMG package version based on tag name.
        run: |
          poetry version ${{ steps.vars.outputs.tag }}
        working-directory: ./packages/generator

      - name: Update SDK package version based on tag name.
        run: |
          poetry version ${{ steps.vars.outputs.tag }}
        working-directory: ./packages/sdk

      - name: Commit file changes
        id: commit
        if: ${{ startsWith(github.event.release.target_commitish, 'main') || startsWith(github.event.release.target_commitish, 'releases/') }}
        run: |
          echo "version_changed=false" >> $GITHUB_OUTPUT
          if [ -n "$(git status --porcelain)" ]; then
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add .
            git commit -m "Promote NIMS and NIMG package version" -a
            echo "version_changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Push changes to the appropriate branch
        if: ${{ steps.commit.outputs.version_changed && (startsWith(github.event.release.target_commitish, 'main') || startsWith(github.event.release.target_commitish, 'releases/')) }}
        uses: CasperWA/push-protected@74d25b8aa10e0c29024138735d32f3c0b75f9279 # v2.16.0
        with:
          token: ${{ secrets.ADMIN_PAT }}
          branch: ${{ github.event.release.target_commitish }}
          unprotect_reviews: true

      # To Test the Publish use : poetry publish --build --username __token__ --password ${{ secrets.TEST_PYPI_TOKEN }} -r test-pypi
      - name: Build NIMS Python package and publish to PyPI
        if: ${{ startsWith(github.event.release.target_commitish, 'main') || startsWith(github.event.release.target_commitish, 'releases/') }}
        run: |
          poetry publish --build --username __token__ --password ${{ secrets.PYPI_TOKEN }}
        working-directory: ./packages/service

      - name: Build NIMG Python package and publish to PyPI
        if: ${{ startsWith(github.event.release.target_commitish, 'main') || startsWith(github.event.release.target_commitish, 'releases/') }}
        run: |
          poetry publish --build --username __token__ --password ${{ secrets.PYPI_TOKEN }}
        working-directory: ./packages/generator

      - name: Build SDK Python package and publish to PyPI
        if: ${{ startsWith(github.event.release.target_commitish, 'main') || startsWith(github.event.release.target_commitish, 'releases/') }}
        run: |
          poetry publish --build --username __token__ --password ${{ secrets.PYPI_TOKEN }}
        working-directory: ./packages/sdk

      - name: Create archives of the examples
        env:
          EXAMPLE_ARCHIVE: measurement-plugin-python-examples-${{ steps.vars.outputs.tag }}
        run: |
          # Use --prefix for the tarball but not the zip file. Windows zip tools often create a directory automatically.
          rm -rf dist
          mkdir -p dist
          git archive -o dist/${EXAMPLE_ARCHIVE}.zip ${GITHUB_REF}:examples/
          git archive -o dist/${EXAMPLE_ARCHIVE}.tar.gz --prefix ${EXAMPLE_ARCHIVE}/ ${GITHUB_REF}:examples/

      - name: Upload release assets
        if: ${{ startsWith(github.event.release.target_commitish, 'main') || startsWith(github.event.release.target_commitish, 'releases/') }}
        uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1.18.0
        with:
          artifacts: "dist/measurement-plugin-python-examples-*"
          allowUpdates: true
          omitBodyDuringUpdate: true
          omitDraftDuringUpdate: true
          omitNameDuringUpdate: true
          omitPrereleaseDuringUpdate: true
          updateOnlyUnreleased: false

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: NIMS Artifacts
          path: ./packages/service/dist/ # path/to/artifact