name: Run unit tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  run_unit_tests:
    name: Run unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        # grpcio does not have binary wheels for pypy or free-threading, as of version 1.75.1.
        python-version: ['3.10', 3.11, 3.12, 3.13, 3.14]
      # Fail-fast skews the pass/fail ratio and seems to make pytest produce
      # incomplete JUnit XML results.
      fail-fast: false
    steps:
      - name: Check out repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: ni/python-actions/setup-python@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1
        id: setup-python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Set up Poetry
        uses: ni/python-actions/setup-poetry@aa64e60612cb078b0c2ada666becbd70d4817d55 # v0.7.1

      # ni-measurement-plugin-sdk-service, no extras
      - name: Restore cached virtualenv (ni-measurement-plugin-sdk-service, no extras)
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: restore-nims-no-extras
        with:
          path: packages/service/.venv
          key: ni-measurement-plugin-sdk-service-no-extras-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('packages/service/poetry.lock') }}
      - name: Install ni-measurement-plugin-sdk-service (no extras)
        run: poetry install -v
        working-directory: ./packages/service
      - name: Save cached virtualenv (ni-measurement-plugin-sdk-service, no extras)
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        if: steps.restore-nims-no-extras.outputs.cache-hit != 'true'
        with:
          path: packages/service/.venv
          key: ${{ steps.restore-nims-no-extras.outputs.cache-primary-key }}
      - name: Run unit tests and code coverage (ni-measurement-plugin-sdk-service, no extras)
        run: poetry run pytest ./tests/unit -v --cov=ni_measurement_plugin_sdk_service --junitxml=test_results/nims-${{ matrix.os }}-py${{ matrix.python-version}}-no-extras.xml
        working-directory: ./packages/service

      # ni-measurement-plugin-sdk-service, all extras
      - name: Restore cached virtualenv (ni-measurement-plugin-sdk-service, all extras)
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        id: restore-nims-all-extras
        with:
          path: packages/service/.venv
          key: ni-measurement-plugin-sdk-service-all-extras-${{ runner.os }}-py${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('packages/service/poetry.lock') }}
      - name: Install ni-measurement-plugin-sdk-service (all extras)
        run: poetry install -v --all-extras
        working-directory: ./packages/service
      - name: Save cached ni-measurement-plugin-sdk-service virtualenv (all extras)
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        if: steps.restore-nims-all-extras.outputs.cache-hit != 'true'
        with:
          path: packages/service/.venv
          key: ${{ steps.restore-nims-all-extras.outputs.cache-primary-key }}
      - name: Run unit tests and code coverage (ni-measurement-plugin-sdk-service, all extras)
        run: poetry run pytest ./tests/unit -v --cov=ni_measurement_plugin_sdk_service --junitxml=test_results/nims-${{ matrix.os }}-py${{ matrix.python-version}}-all-extras.xml
        working-directory: ./packages/service

      - name: Upload test results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: test_results_unit_${{ matrix.os }}_py${{ matrix.python-version }}
          path: ./packages/service/test_results/*.xml
        if: always()
