name: Run system tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  run_system_tests:
    name: Run system tests
    runs-on: 
      - self-hosted
      - windows
      - x64
      - rdss-measlinkbot-win-10-${{ matrix.configuration }}
    defaults:
      run:
        # Set the working-directory for all steps in this job.
        working-directory: ./packages/service
    strategy:
      matrix:
        configuration: ["py32", "py64"]
      # Fail-fast skews the pass/fail ratio and seems to make pytest produce
      # incomplete JUnit XML results.
      fail-fast: false
    timeout-minutes: 90
    steps:
      - name: Check out repo
        uses: actions/checkout@v4
      - name: Copy and rename .env.simulation to .env
        run: cp examples/.env.simulation .env
        working-directory: ./
      - name: Cache virtualenvs
        uses: actions/cache@v4
        id: cache
        with:
          path: |
            .venv
            .tox
          key: run-system-tests-${{ runner.os }}-${{ matrix.configuration }}-${{ hashFiles('packages/service/poetry.lock') }}
      - name: Install dependencies
        run: poetry install -v
      - name: Run system tests
        run: poetry run tox
      - name: Upload test results
        uses: actions/upload-artifact@v3
        with:
          name: test_results
          path: ./packages/service/test_results/*.xml
        if: always()
