[tool.poetry]
name = "sample_measurement"
version = "0.5.0"
description = "MeasurementLink example that performs a loopback measurement with various data types."
authors = ["National Instruments"]

[tool.poetry.dependencies]
python = "^3.8"
ni-measurementlink-service = "^1.0.0"
click = ">=7.1.2"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
